<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <appSettings>
    <add key="app1" value="app1_default_value"/>
	<add key="app2" value="app2_default_value"/>
  </appSettings>

  <connectionStrings>
    <add name="cnn1" 
	     connectionString="Data Source=(LocalDb)\MSSQLLocalDb;Initial Catalog={Default_Catalog};Integrated Security=SSPI;" 
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>